<div class="hero-bannar">
  <a href="{{ section.settings.imgurl }}">
    <img
      class="hero-bannar-img"
      src="{{ section.settings.herobannar |  image_url: width: 6400 , height: 2017  }}"
      alt="{{ section.settings.herobannar.alt }}"
    >
  </a>
</div>
{% schema %}
{
  "name": "hero bannar",
  "settings": [
    {
      "type": "image_picker",
      "id": "herobannar",
      "label": "hero bannar"
    },
    {
      "type": "url",
      "id": "imgurl",
      "label": "img url"
    }
  ],
  "presets": [
    {
      "name": "hero bannar"
    }
  ]
}
{% endschema %}
