{{ 'register.css' | asset_url | stylesheet_tag }}

<div class="login__container">
  <div class="form__sign--in" id="form__sign--in">
    <div>
      <div class="form__heading">
        <h1 class="form__title">{{ section.settings.title }}</h1>
        <p class="form__paragraph">
          {{ section.settings.paragraph }}
        </p>
      </div>
      <div class="form__signin--contianer">
        {% form 'create_customer' %}
          {% if form.errors %}
            <div class="errors-content">
              <strong class="error_head">Error!</strong>
              <p role="alert">{{ form.errors | default_errors }}</p>
            </div>
          {% endif %}
          <div class="form__login-label-input">
            <label class="form__login--label visually-hidden" for="first_name" aria-hidden="true">First Name</label>
            <input
              type="text"
              name="customer[first_name]"
              id="first_name"
              autocomplete="given_name"
              class="form__login--input"
              placeholder="First Name"
            >
          </div>
          <div class="form__login-label-input">
            <label class="form__login--label visually-hidden" for="last_name" aria-hidden="true">Last Name</label>
            <input
              type="text"
              name="customer[last_name]"
              id="last_name"
              autocomplete="last_name"
              class="form__login--input"
              placeholder="Last Name"
            >
          </div>

          <div class="form__login-label-input">
            <label class="form__login--label visually-hidden" for="email_address" aria-hidden="true"
              >Email address</label
            >
            <input
              type="email"
              name="customer[email]"
              id="email_address"
              autocomplete="email"
              class="form__login--input"
              placeholder="Email"
            >
          </div>
          <div class="form__login-label-input">
            <label
              class="form__login--label visually-hidden"
              for="password"
              aria-hidden="true"
              >Password</label
            >
            <input
              type="password"
              name="customer[password]"
              id="password"
              autocomplete="new-password"
              class="form__login--input"
              placeholder="password"
            >
          </div>
          <div class="checking__privcy">
            <label for="marketing" class="custom-checkbox">
              <input
                type="checkbox"
                name="customer[accepts_marketing]"
                id="marketing"
                class="marketing"
              >
              <span class="checkmark"></span>
              I agree to receive marketing emails from cocokind about my account, product launches, discounts, and other
              news.</label
            >
          </div>
          <div class="btn-login">
            <button class="btn-submit" type="submit">JOIN THE CLUB</button>
          </div>
          <div class="login__form">
            <a href="https://cocokind-2.myshopify.com/account/login">Already a member? Sign in.</a>
          </div>
        {% endform %}
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "register",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "title"
    },
    {
      "type": "text",
      "id": "paragraph",
      "label": "paragrapg"
    },
    {
      "type": "checkbox",
      "id": "check",
      "label": "check"
    }
  ]
}
{% endschema %}
