<div class="login__container">
  <div class="form__sign--in" id="form__sign--in">
    <div>
      <div class="form__heading">
        <h1>Reset Your Password</h1>
      </div>
      <div class="form__signin--contianer">
        {% form 'reset_customer_password' %}
          {% if form.errors %}
            <div class="errors-content">
              <strong class="error_head">Error!</strong>
              <p role="alert">{{ form.errors | default_errors }}</p>
            </div>
          {% endif %}

          <div class="form__login-label-input">
            <label
              class="form__login--label visually-hidden"
              for="password"
              aria-hidden="true"
              >Password</label
            >
            <input
              type="password"
              name="customer[password]"
              id="password"
              autocomplete="new-password"
              class="form__login--input"
              placeholder="password"
            >
          </div>

          <div class="form__login-label-input">
            <label
              class="form__login--label visually-hidden"
              for="password_confirmation"
              aria-hidden="true"
              >Password Confirmation</label
            >
            <input
              type="password"
              name="customer[password_confirmation]"
              id="password_confirmation"
              autocomplete="new-password"
              class="form__login--input"
              placeholder="Confirm your password"
            >
          </div>

          <div class="btn-login">
            <button class="btn-submit" type="submit">Submit</button>
          </div>
        {% endform %}
      </div>
    </div>
  </div>
</div>
