{{ 'about-us.css' | asset_url | stylesheet_tag }}

<div class="values">
  <div class="values__header">
    <h1 class="values__title">{{ section.settings.title }}</h1>
  </div>
  <div class="values__container page-width">
    {% for block in section.blocks %}
      <div class="value__block">
        <div class="block__content">
          <p class="value__block__title">
            {{ block.settings.title }}
          </p>
          <p class="value__block__paragraph">{{ block.settings.paragraph }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% schema %}
{
  "name": "values",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "title"
    }
  ],
  "presets": [
    {
      "name": "values"
    }
  ],
  "blocks": [
    {
      "type": "value",
      "name": "value",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "title"
        },
        {
          "type": "text",
          "id": "paragraph",
          "label": "paragraph"
        }
      ]
    }
  ]
}
{% endschema %}
