.products-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin: 20px;
}

.each-product {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.products-container input:checked + label {
  border: 3px solid #ebe6d8;
}

.products-img {
  max-width: 100%;
  cursor: pointer;
  border-radius: 8px;
}
.product-card-btn {
  width: 250px;
}
.add-to-cart-btn {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  margin: 0;
  font-weight: 800;
  transition: background-color 0.3s;
  cursor: pointer;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
}
.product__price {
  color: white;
}
.toast {
  visibility: hidden;
  min-width: 250px;
  margin: 0 auto;
  background-color: #ebe6d8;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 17px;
  opacity: 0;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.toast.show {
  visibility: visible;
  opacity: 1;
}
.cart-count-bubble {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: black;
  color: #fff;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 11px;
}
.cart__btn--prime {
  background-color: #ebe6d8;
  color: #fff;
  border: none;
  padding: 6px;
  font-size: 10px;
  cursor: pointer;
  border-radius: 35px;
}
.cart__btn--prime:hover {
  background-color: #f6f2e9;
}
.quantity-input {
  color: black;
  font-weight: 700;
  text-align: center;
  border: 2px solid black;
}
.qnty__label {
  color: black;
  font-weight: 700;
}
.product__title {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

.add-to-cart-button:hover {
  background-color: #cccc;
}
