* {
  box-sizing: border-box;
}
.login__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form__sign--in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form__heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
}
.form__title {
  font-size: 42px;
  font-weight: 900;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0;
  margin-top: 10px;
}
.form__paragraph {
  font-weight: 400;
  font-size: 18px;
  max-width: 500px;
}
.form__signin--contianer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.checking__privcy {
  max-width: 500px;
}
.form__login--input {
  padding: 10px;
  width: 400px;
  border-radius: 5px;
  outline: none;
  margin-bottom: 15px;
  border: 1px solid black;
}
@media screen and (max-width: 749px) {
  .form__login--input {
    width: unset;
    padding: 35px 100px;
  }
}
.form__login--input:hover {
  border: 1px solid #e56b54;
}
.btn-submit {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 30px;
  width: 400px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  font-size: 18px;
}
.btn-submit:hover {
  background-color: #f7f4ec;
  border: 1px solid black;
  color: #000;
}
.custom-checkbox {
  display: flex;
  align-items: flex-start;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #222;
  cursor: pointer;
  gap: 10px;
}

.custom-checkbox input {
  display: none;
}

.checkmark {
  width: 33px;
  height: 17px;

  border: 1px solid black;
  display: inline-block;
  position: relative;
  top: 8px;
}

.custom-checkbox input:checked + .checkmark::before {
  content: "\2714";
  font-size: 26px;
  position: absolute;
  top: -14px;
  left: 1px;
  color: #000;
}
.custom-checkbox input:checked + .checkmark {
  border: none;
}
.login__form {
  font-weight: 900;
  margin: 10px;
  font-size: 18px;
}
.login__form a {
  text-decoration: none;
}
