* {
  box-sizing: border-box;
}
.rewards__header {
  position: relative;
}
.rewards__img {
  width: 100%;
  height: 100%;
  display: flex;
}

.rewards__img img {
  width: 100%;
  height: 100%;
}
.rewards__header__content {
  position: absolute;
  bottom: 160px;
  right: 130px;
  width: 420px;
}
.rewards__title {
  margin: 0;
  font-size: 62px;
  font-weight: 900;
  color: rgb(208 50 94);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.rewards__paragraph {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: rgb(208 50 94);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.rewards__btns {
  display: flex;
  align-items: center;
  gap: 10px;
}
.btn--login,
.btn--join {
  border: none;
  background-color: rgb(208 50 94);
  color: white;
  margin-top: 20px;
  padding: 15px 20px;
  width: 190px;
  border-radius: 5px;
  cursor: pointer;
}
.btn--login a,
.btn--join a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}
.rewards__img--meida {
  display: none;
}
@media screen and (max-width: 950px) {
  .rewards__header__content {
    bottom: 49px;
    right: 14px;
  }
}
@media screen and (max-width: 749px) {
  .rewards__img--meida {
    width: 100%;
    height: 100%;
    display: flex;
  }

  .rewards__img--meida img {
    width: 100%;
    height: 100%;
  }
  .rewards__img {
    display: none;
  }
  .rewards__title {
    font-size: 50px;
  }
  .rewards__paragraph {
    max-width: 350px;
  }
  .rewards__header__content {
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .rewards__header__content {
    width: unset;
  }
  .rewards__btns {
    flex-direction: column;
    width: 100%;
    padding: 10px 50px;
  }
  .btn--login,
  .btn--join {
    width: 100%;
  }
}
